@import url('https://use.typekit.net/cdj8bac.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: ibm-plex-mono, sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-image: url('../bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Navbar */

nav {
  padding: 10px;
}

.navBtn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  border: 1px solid #fff;
  font-size: 18px;
}

.list {
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

nav ul li {
  display: inline;
}

nav ul li .navLinks {
  color: #000;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

nav ul li .navLinks:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
  border-radius: 5px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #000;
}

.loading {
  height: 70%;
  display: flex;
  justify-content: center;
  color: #000;
}

.category {
  color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fd3b6c;
}

/* App.jsx */

.centeredDiv {
  display: grid;
  place-items: center;
  height: 50vh;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 600px;
  max-height: 600px;
}

.button-container,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 5px;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  font-size: 30px;
}

@media (max-width: 900px) {
  .main-container {
    font-size: 20px;
  }
  nav {
    padding: 5px;
  }
  .list {
    flex-direction: column;
    font-size: 15px;
    height: auto;
  }
  nav li {
    margin: 0.8em 0;
  }

  nav ul .list,
  .navLinks {
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  .navBtn {
    display: block;
  }
}

/* SearchBar.jsx */

/* App.js */

.pokeResult {
  margin: 3px auto auto auto;
  max-width: 480px;
  height: 300px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.pokeResult p {
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto auto auto;
  max-width: 600px;
  max-height: 600px;
}

.listedPokemons {
  display: flex;
  justify-content: center;
  margin: 3px auto auto auto;
  background-color: transparent;
}

.right-content {
  width: 50%;
  text-align: center;
  color: black;
  position: fixed;
  top: 100px;
  right: 10px;
}
.right-content {
  margin: 1.5rem;
  height: 160px;
}
.right-content h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Giveaways */

.gvwLinks {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gvwTitles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.gvwDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.gvwInstructions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.gvwAccordion {
  margin: 120px;
  padding: 20px;
}

/* .gvwLinks {

} */

/* pokeList */

/* 404 */

/* Minecraft API */

.stickyth {
  position: sticky;
  top: 0;
}

.mcCard {
  margin: 5px;
  padding: 20px;
}

.mcContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;
}

.mcAccordion {
  margin: 120px;
  padding: 20px;
}

.accordionBody {
  padding: 5px !important;
  margin: 0 !important;
}
